@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: Anton;
  src: url("./fonts/anton.woff");
}

.font-FK {
  font-family: FK, Arial, sans-serif;
}

@font-face {
  font-family: FK;
  src: url("./fonts/FKGroteskNeueTrial.otf") format("opentype");
}
* {
  /* border: 1px red dotted; */
}

.font-anton {
  font-family: Anton;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.component-transition {
  transition: transform 0.8s ease-out, color 0.8s, font-size 0.8s,
    box-shadow 0.8s, background-color 0.8s, border-color 0.8s, padding 0.8s,
    scale 0.8s;
}

.component-transition:hover {
  scale: 1.2;
}

.mask {
  mask: radial-gradient(white, transparent);
  backdrop-filter: blur(10px);
}

.mask-years {
  -webkit-mask-image: url(/mask.svg);
  mask-image: url(/mask.svg);
  -webkit-mask-position: 50% center;
  mask-position: 50% center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

#wrapper {
  transform: translate(0, 0) !important;
}
